[submodule "submodules/mobile"]
	path = apps/mobile
	url = git@github.com:lanss-id/gcb-mobile.git
[submodule "submodules/api"]
	path = apps/api
	url = git@github.com:lanss-id/gcb-api.git
[submodule "submodules/packages"]
	path = packages
	url = git@github.com:lanss-id/gcb-packages.git
